<% if(success && success.length){ %>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    
    <!-- As success is added as local var it is available all over     -->
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
</div>

<%} %>


<% if(error && error.length){ %>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        
        <!-- As success is added as local var it is available all over     -->
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>   
        </button>
    </div>
    </div>
    
    <%} %>