
<!-- // Defining footer with the help of bootstrap -->

<!-- Making the footer to be py-3 padding of up and down of the y axis to be 3   -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-white-50 bg-dark">&copy; YelpCamp 2024 </span> 
    </div>
</footer>